<div class="widget user-dashboard-menu">
    <ul>
        <li class="<%= path && path === '/admin/categories' ? 'active ' : ' ' %>"><a href="/admin/categories"><i class="fa fa-user"></i>Categories</a></li>
        <li class="<%=path && path==='/admin/categories/new' ? 'active ' : ' ' %>"><a href="/admin/categories/new"><i class="fa fa-bookmark-o"></i>Create Categories<span>5</span></a></li>
    </ul>
</div>