<% layout('layouts/boilerplate') %>

    <section class="page-title">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <!-- Title text -->
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    <!-- page title -->

    <!-- contact us start-->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-us-content p-4">
                        <h5>Contact Us</h5>
                        <h1 class="pt-3">What's on your mind?</h1>
                        <p class="pt-3 pb-5">Send us your questions or concerns</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="/contact" method="POST" class="needs-validation" novalidate>
                        <fieldset class="p-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 pt-2">
                                        <input type="text" name="contact[name]" placeholder="Name" class="form-control" required>
                                        <div class="invalid-feedback error-text">Name is required</div>
                                    </div>
                                    <div class="col-lg-6 pt-2">
                                        <input type="email" name="contact[email]" placeholder="Email" class="form-control" required>
                                        <div class="invalid-feedback error-text">Email is required</div>
                                    </div>
                                </div>
                            </div>
                            <textarea name="contact[message]" id="contact-message" rows="10" placeholder="Message" class="form-control w-100 p-3" required></textarea>
                            <div class="invalid-feedback error-text">Message is required</div>
                            <div class="btn-grounp">
                                <button type="submit" class="btn btn-success mt-2 float-right">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- contact us end -->