<% layout('layouts/boilerplate') %>

    <section class="ad-post bg-gray py-5">
        <div class="container">
            <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
                <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Post Your Restaurant Experience</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Restaurant Name:</h6>
                            <input type="text" class="border w-100 p-2 bg-white text-capitalize" placeholder="Restaurant Name" id="new-title" name="restaurant[title]" value="<%= restaurant.title %>">
                            <h6 class="font-weight-bold pt-4 pb-1">Location:</h6>
                            <input type="text" class="border w-100 p-2 bg-white text-capitalize" placeholder="Location" id="new-location" name="restaurant[location]" value="<%= restaurant.location %>">
                            <h6 class="font-weight-bold pt-4 pb-1">Description:</h6>
                            <textarea class="border p-3 w-100" rows="7" placeholder="Write details about the restaurant" id="new-description" name="restaurant[description]"><%= restaurant.description %></textarea>
                        </div>
                        <!-- <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1">Select Ad Category:</h6>
                        <select name="" id="inputGroupSelect" class="w-100">
                        <option value="1">Select category</option>
                        <option value="2">Laptops</option>
                        <option value="3">iphone</option>
                        <option value="4">microsoft</option>
                        <option value="5">monitors</option>
                        <option value="6">11inch Macbook Air</option>
                        <option value="7">Study Table Combo</option>
                        <option value="8">11inch Macbook Air</option>
                        <option value="9">Study Table Combo</option>
                        <option value="10">11inch Macbook Air</option>
                    </select> -->
                        <h6 class="font-weight-bold pt-4 pb-1">image:</h6>
                        <input type="text" class="border w-100 p-2 bg-white text-capitalize" placeholder="image" name="restaurant[images]">
                        <!-- <div class="choose-file text-center my-4 py-4 rounded" id="drop-container">
                            <label for="file-upload">
                            <span class="d-block font-weight-bold text-dark" id="file-text">Image(s):</span>
                            <span class="d-block btn bg-primary text-white my-3 select-files">Choose image(s)</span>
                            <span class="d-block">Maximum number of images: 4</span>
                            <input type="file" class="form-control-file d-none" id="file-upload" name="file" multiple>
                        </label>
                        </div> -->
                    </div>
                </fieldset>
                <fieldset class="border bg-white p-4 my-5 ad-feature bg-gray">
                    <div class="row">
                        <div class="col-lg-12">

                            <h3 class="pb-3">Make Your Ad Featured
                                <span class="float-right"><a class="text-right font-weight-normal text-success" href="#">What
                            is featured ad ?</a></span>
                            </h3>

                        </div>
                        <div class="col-lg-6 my-3">
                            <span class="mb-3 d-block">Premium Ad Options:</span>
                            <ul>
                                <li>
                                    <input type="radio" id="regular-ad" name="adfeature">
                                    <label for="regular-ad" class="font-weight-bold text-dark py-1">Regular Ad</label>
                                    <span>$00.00</span>
                                </li>
                                <li>
                                    <input type="radio" id="Featured-Ads" name="adfeature">
                                    <label for="Featured-Ads" class="font-weight-bold text-dark py-1">Top Featured Ads</label>
                                    <span>$59.00</span>
                                </li>
                                <li>
                                    <input type="radio" id="urgent-Ads" name="adfeature">
                                    <label for="urgent-Ads" class="font-weight-bold text-dark py-1">Urgent Ads</label>
                                    <span>$79.00</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 my-3">
                            <span class="mb-3 d-block">Please select the preferred payment method:</span>
                            <ul>
                                <li>
                                    <input type="radio" id="bank-transfer" name="adfeature">
                                    <label for="bank-transfer" class="font-weight-bold text-dark py-1">Direct Bank Transfer</label>
                                </li>
                                <li>
                                    <input type="radio" id="Cheque-Payment" name="adfeature">
                                    <label for="Cheque-Payment" class="font-weight-bold text-dark py-1">Cheque Payment</label>
                                </li>
                                <li>
                                    <input type="radio" id="Credit-Card" name="adfeature">
                                    <label for="Credit-Card" class="font-weight-bold text-dark py-1">Credit Card</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-6 offset-md-5">
                        <button type="submit" class="btn btn-success d-block mt-2">Post</button>
                    </div>
                </div>

            </form>
        </div>
    </section>